body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin-left: 250px;
}

.content {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    margin-bottom: 15px;
}

input[type="text"], input[type="number"], textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

input[type="text"]#business-cash {
    width: 80%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

select {
    width: 100%; /* Ensure the selects take up available space */
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.transaction-inputs {
    display: flex; /* Apply flexbox */
    justify-content: space-between; /* Space out the selects */
    gap: 20px; /* Space between the inputs */
    width: 100%;
}

.input-group {
    flex: 1; /* Ensure inputs take up equal width */
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

input[type="submit"] {
    width: 30%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #218838;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

input[type="submit"]:active {
    background-color: #1e7e34;
}

.message {
    display: none;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.success {
    background-color: green;
    color: white;
}

.error {
    background-color: red;
    color: white;
}


/* Style for the settings icon */
.settings-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease;
}

.settings-icon:hover {
    color: #007bff;
}