body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
}
.units-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 8px;
}

.units-container h1, .units-container h2 {
    color: #333;
    margin-bottom: 15px;
}

.units-table, .unit-form {
    width: 100%;
    margin-bottom: 20px;
}

.units-table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

.units-table th, .units-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.unit-form {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.unit-form input[type="text"],
.unit-form input[type="number"] {
    width: calc(18% - 10px); /* Adjust width as needed */
    padding: 8px;
    margin-bottom: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.unit-form input[readonly] {
    background-color: #f4f4f9;
}

.add-unit-button {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.add-unit-button:hover {
    background-color: #45a049;
}

.add-unit-button i {
    font-size: 20px;
    margin-right: 5px;
}


.success-message, .error-message {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-weight: bold;
}

.success-message {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}

.error-message {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
}
 
